@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    display: flex;
}

.banner {
    background-color: blue;

} 

.banner-content {
    background-color: red;

}

h1 {
    font: 20px;
    font-family: "Raleway", sans-serif;
    height: auto;
    width: 510px;
    color: blue;
}